body {
  height: 100%;
}

.App {
  text-align: left;
  background-color: #222;
  color: white;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

